html {
    width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    text-align: center;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}

#body-index input {
    border-top: solid 2px #848484;
    border-left: solid 2px #848484;
    border-bottom: solid 2px #ccc;
    border-right: solid 2px #ccc;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    width: 60%;
}

    #body-index input[type="submit"] {
        background-color: #006b67 !important;
        color: white;
        border: none;
        text-align: center;
        width: auto;
        padding: 5px 30px;
        margin-top: 1vw;
        cursor: pointer;
    }

h1 {
    margin: 2vw;
    font-size: 1.1vw;
}

h2 {
    margin: 0;
    font-size: 1vw;
    font-weight: 500;
    margin-right: 1vw;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

#body-index {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-text h5 {
    margin: 0;
    font-size: 1.7vw;
    margin-bottom: 2vw;
}

.log-form {
    text-align: center;
    border: 1px solid #DDDDDD;
    background: #FAFAFA;
    width: 80%;
    height: auto;
    padding: 3vw;
}


    .logo {
        width: 100px
    }

.main-form {
    width: 80%;
    margin: auto;
}

    .main-form div {
        justify-content: flex-end;
        margin-bottom: 0.5vw;
    }

/*HEADER*/
#header {
    height: 10vw;
    background-image: url('/../Content/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-position-y: 5%;
}

.panel {
    position: relative;
    justify-content: space-evenly;
    padding: 0.7vw;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

    .panel a {
        font-size: 0.9vw;
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
    }

    .panel ul {
    }

    .panel li {
    }

/*PAGE*/
#main-body {
    width: 90%;
    margin: auto
}

.col-1 {
    width: 50%;
    text-align: center;
    padding: 4vw
}

    .col-1 img {
        width: 250px
    }

    .col-1 h3 {
        margin: 1vw;
        font-size: 1.1vw;
        font-weight: 600;
    }

.count {
    justify-content: space-between;
    margin: auto;
    width: 65%;
}

    .count input {
        width: 5vw;
        margin: 1vw;
        font-size: 1.1vw;
        border: none;
        color: black;
        font-weight: 600;
    }

.col-2 {
    width: 50%;
    padding: 4vw
}

    .col-2 table {
        border: 1px solid rgba(0,0,0,0.2);
        width: 80%;
        margin: auto
    }

        .col-2 table th {
            font-size: 1.2vw;
            margin: 0;
            padding: 0;
            width: 60%;
            height: 3vw;
        }

    .col-2 td {
        text-align: center
    }
/*FOOTER*/
@media screen and (max-width: 900px) {
}

.navigation-bar {
    background: white;
}
